<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<title>添加文章</title>
<meta name="keywords" content="添加文章" />
<meta name="description" content="添加文章" />
<script src="//lib.baomitu.com/ckeditor/4.9.2/ckeditor.js" crossorigin="anonymous"></script>
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/book.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<header>
  <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/"><img src="/static/images/logo.png" width="80px"></a></div>
  <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
   <a href="/"><span>首页</span><span class="en">Home</span></a>
   <a href="/profile"><span>我的博客</span><span class="en">Profile</span></a>
   <a href="/add"><span>发布文章</span><span class="en">Add</span></a>
   {% if current_user.is_authenticated %}<a href="/logout"><span>退出登录</span><span class="en">Logout</span></a>{% else %}<a href="/login"><span>登录/注册</span><span class="en">Login</span></a>{% endif %}
  </nav>
</header>
<article>
  <div class="container">
    <h2 class="ctitle"><b>添加文章</b> <span>您的昵称：{{current_user.nickname}}</span></h2>
    <div class="gbook">
      <div class="about">
        <div class="about_girl"><span><a href="/"><img src="//ws1.sinaimg.cn/large/ea577d5dly1fsfp8ccmelj208i08kjs8.jpg"></a></span>
          <p>在这里写下你的文章吧！</p>
        </div>
          <br /><br />

<form method="post" action="/addblog/">
<input type="text" required="required"  id="articlename" name="articlename" placeholder="请输入标题" style="width:20000px;height:40px;color:black"/>
<br/>
    <textarea class="ckeditor" required="required" rows="3" name="editor1" id="editor1"></textarea>

<br /><br />
      <div align="center"><button type="submit" style='font-size:25px'>提交</button></div>


</form>
      </div>
    </div>
  </div>
  </aside>
</article>
<footer>
WeBlog&nbsp;&nbsp;&nbsp;<a href="/">西安电子科技大学</a>
</footer>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
</body>
</html>
