<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<title>{{user.nickname}}</title>
<meta name="keywords" content="WeBlog" />
<meta name="description" content="WeBlog" />
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/share.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<header>
  <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/"><img src="/static/images/logo.png"></a></div>
  <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
   <a href="/"><span>首页</span><span class="en">Home</span></a>
   <a href="/profile"><span>我的博客</span><span class="en">Profile</span></a>
   <a href="/add"><span>发布文章</span><span class="en">Add</span></a>
   {% if current_user.is_authenticated %}<a href="/logout"><span>退出登录</span><span class="en">Logout</span></a>{% else %}<a href="/login"><span>登录/注册</span><span class="en">Login</span></a>{% endif %}
  </nav>
</header>
<article>
  <div class="container">
    <h2 class="ctitle"><b>{{user.nickname}}的博客</b> <span>昵称：{{user.nickname}}</span></h2>
	      <div class="blog" data-scroll-reveal="enter top" >
	{% for blog in blogs%}
      <figure>
        <ul>
          <a href="/article/{{blog.id}}"><img src="{{blog.image}}"><span>{{blog.title}}</span></a>
        </ul>
        <p><a href="/article/{{blog.id}}">{{blog.title}}</a></p>
        <figcaption>{{blog.content_outline}}</figcaption>
      </figure>
    {% endfor %}
    </div>
  </div>
  </aside>
</article>
<footer>
WeBlog <a href="/">西安电子科技大学</a>
</footer>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
</body>
</html>
