{% extends "base.html" %}
{% block title %}{{blog.title}}{% endblock%}
{% block css %}
@media (min-width: 792px) {
.container-fluid {
	width: 770px;
}
}
{% endblock%}
{% block content %}
		<div class="container-fluid">
			<h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{blog.title}}<div class="pull-right"><a href="/profile"><span class="glyphicon glyphicon-user"></span></a></div></h3>
		</div>
		<hr style="height:3px;border:none;border-top:3px groove deepskyblue;" />
		<!--分隔线-->

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="list-group">

						<div class="list-group-item" style="border: 0;">
							<p class="text-center">
								<small>发布时间: {{blog.created_date}}</small>
								<small>&nbsp;&nbsp;作者:{{blog.user.nickname}}</small>
							</p>
							<div>{{blog.content | safe}}</div>
						</div>

					</div>
				</div>
			</div>
		</div>
{% endblock%}