{% extends "base.html" %}
{% block title %}个人页{% endblock%}
{% block css %}
@media (min-width: 992px) {
.container-fluid {
	width: 970px;
}
}
.nav-pills >li.active> a, .nav-pills >li.active>a:hover, .nav-pills >li.active>a:focus {
	color: #fff;
	background-color: #5069C4;
}
{% endblock%}
{% block content %}
<div class="container-fluid">
  <h3>个人页<div class="pull-right"><a href="/profile"><span class="glyphicon glyphicon-user"></span></a></div></h3>
</div>
<hr style="height:3px;border:none;border-top:3px groove deepskyblue;" />
<!--分隔线-->

<div class="container-fluid">
  <div class="row">
    <div class="span2  col-xs-12 col-sm-3 col-md-4">
      <ul class="nav nav-pills nav-stacked">
        <!--nav-pills是胶囊导航 nav-stacked是垂直导航-->
        <li class="active"><a href="#">我的文章</a></li>
        <li><a href="/delete">删除文章</a></li>
        <li><a href="/add">添加文章</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-8">

      <ul class="list-group">
        {% for blog in blogs%}
        <li class="list-group-item">

            <span class="glyphicon glyphicon-align-justify"></span>


            <a href="/pageDetail/{{blog.id}}">&nbsp;{{blog.title}}</a>

			<span class="pull-right">{{blog.created_date}}</span>

        </li>
        {% endfor %}
      </ul>
        <a href="/logout" class="btn btn-danger pull-right">退出登录</a>
    </div>
  </div>
</div>
{% endblock%}
